<div class="table-buttons text-right">
    <button class="btn btn-sm btn-default btn-data-graph"><i class="fa fa-line-chart"></i></button>
    <a class="btn btn-sm btn-default" target="_blank" href='{{ path('table_table_editcode', {'table_code': tableCode}) }}'><i class="fa fa-gears"></i></a>
</div>